#{extends 'content.html' /}

<h1>&{'admin.new_post.New_post'}</h1>

<form action="@{Admin.createPost}" method="POST" accept-charset="utf-8">
    <p>
        <label for="title">&{'admin.new_post.Title'}</label>
        <input type="text" name="title" value="" id="title" />
    </p>

    <p>
        <label for="pcontent">&{'admin.new_post.Content'}</label>
        <textarea name="content" id="pcontent" rows="8" cols="40"></textarea>
    </p>

    <p>
        <input type="submit" value="&{'admin.new_post.Create_it'}">
    </p>
</form>
