#{extends 'content.html' /}
#{set title:post.title /}

<h1 id="title">${post.title}</h1>
<p>
    ${post.content.nl2br()}
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'blog-lgu';
    var disqus_identifier = 'post_id_${post.id}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Veuillez activer Javascript pour accéder aux <a href="http://disqus.com/?ref_noscript">commentaires.</a></noscript>

#{if posts}
<h2 id="archives" class="heading">&{'blog.show.Other_posts'}</h2>

<ul class="list">
    #{list items:posts, as:'post'}
    <li><a href="@{Blog.show(post.slug)}">${post.title}</a><span class="date">${post.date.format("dd")} &{'global.month'+ post.date.format("MM")} ${post.date.format("yyyy")}</span><div style="clear: both;"></div></li>
    #{/list}
</ul>
#{/if}
