#{extends 'main.html' /}

<div id="blog">
    <div id="header">
        <img class="avatar" src="/public/images/avatar.jpg" />
        <h1><a href="/">${blogTitle}</a></h1>
        <div id="subtitle">
            <span>conception d'applications Web, Mobile et TV.</span>
        </div>
		<hr />
        <div id="contact">
            <p class="nospam accent">86 12 46 61 6 )33+(</p>
            <a target="_blank" href="http://twitter.com/loic_guillois">
                <strong>twitter</strong>
            </a>
            |
            <a href="http://www.linkedin.com/in/loicguillois" style="display: inline;">
                <strong>&{'blog.join_network'}</strong>
            </a>
            <br/>
            34, Grande Rue de la Trinité
            <br/>
            44190 Clisson
            <br/>
            <a href="#" rel="rf/siolliugciol//tcatnoc" class="nospam">contact [ at ] loicguillois [ . ] fr</a>
            <div class="company">
            	&rarr; <a  href="http://www.neo-soft.fr">Néo-Soft</a>
			</div>
        </div>
        <div style="clear: both;"></div>
	#{if session.logged}
        <form id="logout" action="@{Admin.logout}" method="POST" accept-charset="utf-8">
            <input type="submit" value="&{'admin.logout'}" />
        </form>
	#{/if}
    </div>
    <div id="content">

	#{if flash.error}
        <div class="error">
	${flash.error}
        </div>
	#{/if}

	#{if flash.success}
        <div class="success">
	${flash.success}
        </div>
        #{/if}

	#{doLayout /}
    </div>
    <div id="footer">
        &{'footer.text'}
    </div>
</div>
